#container #screen{
    display: block;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
}
#container #perlin{
    position:absolute;
    z-index: 9999;
    top: 0px;
}
#container{
    display: block;
    margin: 0 auto;
    width: 992px;
}
body{
    background-color: #111;
}