body{
    background-color: #111;
    padding: 0px;
    margin: 0px;
}

.container{
    display: block;
    margin: 0 auto;
    padding: 2.5em 0em;
    color: #fefefe;
    max-width: 984px;
}

.container h1{
    font-family: "Press Start 2P", cursive;
    font-size: 2.25em;
    line-height: 1.25em;
    font-weight: normal;
}
.container p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    line-height: 1.5em;
}
.container p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    line-height: 1.5em;
}
.container{
    margin-top: 1em;
}
.container a{
    text-decoration-skip: ink;
    line-height: 1.5em;
}

nav{
    padding: 2em 0;
    background-color: #111;
    position:fixed;
    top: 0px;
    width: 100%;
}
nav #containerNav{
    max-width: 984px;
    margin: 0 auto;
    disply: block;
}
nav b{
    padding: 0 0.5em;
}
nav, nav a{
    font-family: "Press Start 2P", cursive;
    font-size: 1em;
    color: #fefefe;
    text-transform: uppercase;
}
nav a{
    text-decoration: none; 
    border-bottom: 3px solid #fefefe; 
    transition: 0.25s ease-in-out border-bottom-color;
}
nav a:hover{
    border-bottom: 3px solid #f24a02; 
}
nav a.active{
    text-decoration: none; 
    border-bottom: 3px solid #f24a02; 
    color: #f24a02;
}

/* Styling for the game */
#containerGame #screen{
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    margin-bottom: -4px;
}
#containerGame #perlin{
    margin-top: 0px;
    position: absolute;
    z-index: 9999;
}
#containerGame{
    display: block;
    margin: 0 auto;
    width: 984px;
    border: 2px solid #fefefe;
}